<!-- END: Subheader -->
<div class="access-denied-page">
    <div class="m-content">
        <div class="container">
            <img src="assets/app/images/elabram/403_image.svg" class="image" alt="403" />
            <div class="text">
                <img class="brand-logo" alt="Elabram System" src="assets/app/images/elabram/bot.png">
                <div class="error">403</div>
                <div class="error-text">Access denied</div>
                <div class="error-text-small">You don't have permission to access this site</div>
                <div class="return-button">
                    <button (click)="goBack()" type="button" class="btn btn-full m-btn m-btn--pill m-btn--custom">
                        <i class="fa fa-arrow-left"></i>
                        Back to the Last Page
                    </button>
                    or
                    <button (click)="goHome()" type="button" class="btn btn-outline m-btn m-btn--pill m-btn--custom">
                        <i class="fa fa-home"></i>
                        Return to the Homepage
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>