<!-- BEGIN: Subheader -->
<div class="run-test-page">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Run Test
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item">
						<span class="m-nav__link-text">
							Run Test
						</span>
					</li>
				</ul>
			</div>
			<div>
				<!-- <a (click)="goAdd();">
					<button type="button" class="btn m-btn--pill btn-add btn-shadow">
						<img src="assets/app/images/elabram/Add.svg" title="add"> Add</button>
				</a>
				<a (click)="exportCSV()">
					<button type="button" class="btn m-btn--pill btn-excel btn-shadow">
						<img src="assets/app/images/elabram/Download_excel.svg" title="Excel"> Excel</button>
				</a> -->
				<button type="button" class="btn m-btn--pill btn-refresh btn-shadow" (click)="doRefresh()">
					<img src="assets/app/images/elabram/Refresh.svg" title="refresh"> Refresh</button>

			</div>
		</div>
	</div>
	<!-- END: Subheader -->
	<div class="m-content">
		<div class="row">
			<div class="col-xl-12 col-lg-12">
				<div class="m-portlet m-portlet--full-height">
					<div class="tab-content">

						<p-growl [value]="msgs"></p-growl>
						<form novalidate [formGroup]="myForm">
							<p-fieldset legend="Total test : {{test_case?.length}} case">
								<div class="col-lg-12">
									<!-- <div class="row mb-3">
									<div style="float: left; width: 150px; margin-top:3px;">
										Total Test
									</div>
									<div style="float: left; width: 66%;">
										: 90 test
									</div>
								</div> -->
									<div class="row mb-3">
										<div style="float: left; width: 90px; margin-top:3px;">
											Test Case
										</div>
										<div style="float: left; width: 15%;">
											<p-dropdown [options]="test_case" [style]="{'width': '100%'}"
												placeholder="- select -" filter="true" [showClear]="false"
												formControlName="selectedCase">
												<ng-template let-item pTemplate="item">
													<div class="ui-helper-clearfix">
														<div>{{item.label}}</div>
													</div>
												</ng-template>
											</p-dropdown>
										</div>
										<div style="float: left; width: 150px;">
											&nbsp;&nbsp;
											<button type="button" class="btn m-btn--pill btn-success btn-shadow"
												style="padding: 5px 25px;" (click)="doExecute(myForm.value)">
												Execute</button>
										</div>
									</div>
									<div class="col-12 text-left">
										<!-- <button type="submit" class="btn m-btn--pill btn-min-width btn-success btn-shadow">
										<i class="ft-check"></i> Execute</button> -->
									</div>
								</div>
							</p-fieldset>
						</form>
						<p-dataTable #dt [value]="arrEmployee" [lazy]="true" [rows]="rows" [paginator]="true"
							[pageLinks]="pageLinks" [rowsPerPageOptions]="rowsPerPageOptions"
							[totalRecords]="totalRecords" (onLazyLoad)="loadTaskLazy($event)" responsive="true"
							[loading]="loading">

							<p-column field="created_at" header="No" [style]="{ width: '50px', 'text-align': 'left' }"
								[sortable]="false">
								<ng-template let-rowIndexValue="rowIndex" pTemplate="body">
									{{rowIndexValue+1}}
								</ng-template>
							</p-column>

							<p-column *ngFor="let col of employee" [field]="col.field" [header]="col.header"
								[style]="col.style" [filter]="col.filter" [filterMatchMode]="col.filterMatchMode"
								[sortable]="col.sortable">

								<ng-template *ngIf="col.header == 'Test Case'" pTemplate="filter" let-col>
									<input type="text" style="width:100%;" class="input-text" [(ngModel)]="nameFilter"
										(keyup.enter)="dt.filter($event.value=nameFilter,col.field,col.filterMatchMode);"
										(change)="dt.filter($event.value=nameFilter,col.field,col.filterMatchMode);" />
								</ng-template>

								<ng-template *ngIf="col.header == 'Result'" let-data="rowData" let-row pTemplate="body">
									<a (click)="goDetail(data);" style="color: #005a92 !important;
										border-bottom: 1px solid #005a92 !important;">
										Report Detail
									</a>
								</ng-template>

							</p-column>

							<ng-template pTemplate="paginatorRight">
								<span
									style="position: absolute; right: 10px; bottom: 7px; color:#0073ea; font-weight: normal;">Showing
									{{arrEmployee.length}}
									of {{totalRecords}}
									entries</span>
							</ng-template>

						</p-dataTable>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<p-dialog [(visible)]="dialog" header="{{modalTitle}}" [baseZIndex]="10000" [modal]="true" [draggable]="false"
	[resizable]="false" [responsive]="true" [contentStyle]="this.modalStyle" [blockScroll]="true" [focusOnShow]="false"
	(onHide)="hideDetail()" styleClass="{{styleClass}}">

	<div class="col-12">
		<div class="media-body">
			<form novalidate>
				<div class="form-group mt-2">
					<div class="mb-1">Supported Documents</div>
					<input #fileInput type="file" accept=".xls" (change)="onFileChange($event)" (click)="reset()"
						style="width: 93%;">
					<a *ngIf="isFile" (click)="reset()" style="float: right;">
						<img src="assets/app/images/elabram/Cancel.svg" style="width: 18px; margin: 2px 0 0 0;"
							title="Cancel">
					</a>
				</div>
			</form>
		</div>
	</div>
	<p-footer>
		<div class="col-12 text-center">
			<button type=" button" class="btn m-btn--pill btn-import btn-shadow" (click)="importFile();"
				[disabled]="loading_import || !isFile"
				[ngClass]="{'m-loader m-loader--right m-loader--dark': loading_import}">
				<img src="assets/app/images/elabram/Import_white.svg" title="Import"> Import</button>
			<button class="btn m-btn--pill btn-min-width btn-outline btn-shadow btn-close "
				(click)="hideImportDialog();">
				Close</button>
		</div>
	</p-footer>
</p-dialog>