<!-- BEGIN: Subheader -->
<div class="employee-edit-page">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto" style="z-index:9;">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Employee
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item">
						<span class="m-nav__link-text">
							Master Data
						</span>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a (click)="goEmployee();" class="m-nav__link">
							<span class="m-nav__link-text">
								Employee
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<span class="m-nav__link-text">
							Edit
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- END: Subheader -->
	<div class="m-content">
		<div class="row outer-box">
			<div class="offset-lg-3 col-lg-6 col-md-12 offset-lg-3">
				<div class="m-portlet m-portlet--full-height">
					<div class="tab-content">
						<form novalidate [formGroup]="myForm" (ngSubmit)="doUpdate(myForm.value)">
							<div class="col-lg-12">
								<div class="row mb-3">
									<div style="float: left; width: 150px; margin-top:3px;">
										Name
									</div>
									<div style="float: left; width: 66%;">
										: <input type="text" pInputText style="width:90%;" class="input-text" placeholder="Enter Name"
										 formControlName="setName" [(ngModel)]="name" />
									</div>
								</div>
								<div class="row mb-3">
									<div style="float: left; width: 150px; margin-top:3px;">
										Gender
									</div>
									<div style="float: left; width: 66%;">
										:
										<p-radioButton name="setGender" formControlName="setGender" [(ngModel)]="gender" value="0" label="Male"></p-radioButton>
										<span style="margin: 0 20px;"></span>
										<p-radioButton name="setGender" formControlName="setGender" [(ngModel)]="gender" value="1" label="Female"></p-radioButton>
									</div>
								</div>
								<div class="row mb-3">
									<div style="float: left; width: 150px; margin-top:3px;">
										Email
									</div>
									<div style="float: left; width: 66%;">
										: <input type="email" pInputText style="width:90%;" class="input-text" placeholder="Enter Email"
										 formControlName="setEmail" [(ngModel)]="email" />
									</div>
								</div>

								<div class="row mb-3">
									<div style="float: left; width: 150px; margin-top:3px;">
										No Telephone
									</div>
									<div style="float: left; width: 66%;">
										: <input type="text" pInputText style="width:90%;" class="input-text" placeholder="Enter No Telephone"
										 formControlName="setNoTelp" [(ngModel)]="no_telp" />
									</div>
								</div>

								<hr>
								<div class="col-12 text-center">
									<button type="submit" class="btn m-btn--pill btn-min-width btn-success btn-shadow" [disabled]="!myForm.valid || disableBtn">
										<i class="ft-check"></i> Submit</button>
									&nbsp;
									<button type="button" (click)="goEmployee();" class="btn m-btn--pill btn-min-width btn-outline btn-shadow"
									 [disabled]="disableBtn">
										Cancel</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>